/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

.header-class {
  background-image: url(../images/apple-pie.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 40px;
  position: relative;
}
.header-class h1 {
  color: white;
  text-shadow: #020819 8px -20px 9px;
  position: relative;
  top: 200px;
  text-align: center;
  font-size: 6em;
}

h2 {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
}

h3{
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
}
.intro {
  margin: 60px 5% 60px 5%;
  text-align: center;
}

.Ingredients{
  text-align: center;
  
}


.Directions{
  text-align: center;
}

/* STYLES */
/* Write your CSS below */